body {
            background-color: #f1f3f6;
            min-height: 100vh;
        }
        #side-bx {
            background-color: #2874f0;
        }
        .login-btn {
            background-color: #fb641b;
        }
        .login-btn:hover {
            background-color: #e65c17;
        }
        .text-flipkart {
            color: #2874f0 !important;
        }
        .border-flipkart {
            border-color: #dbdbdb !important;
        }